// COLORS
$color-primary-orange: #aa7b30;
// tint (light versions)

// Shades (dark versions)
$color-primary-orange-shade: #886226;
// ====================================================
$color-primary-green: #175c06;
// tint (light versions)

// Shades (dark versions)
$color-primary-green-shade: #124a05;
$color-primary-green-shade-1: #134d05;
// ====================================================
$color-primary-red: #951f39;
// tint (light versions)

// Shades (dark versions)
$color-primary-red-shade: #861c33;
// ====================================================

$color-black: #000;

$color-white: #fff;
$color-grey: #d9d9d9;

// FONT
$default-font-size: 1.6rem;

$background-image: "/images/logos/logo_en.png";

// border-radii
$border-radius: 15px;
$btn-border-radius: 30px;

// This is the padding for the table
$padding-value: 2.2rem;
$table-background-color: #dcd1d1;

// Table Elements
$table-width: 116rem;
$row-height: 4rem;
$pa-row-height: 5rem;
