.table {
  position: relative;
  // if this value is changed, must change the value of table__rows + a to be same to make the pop up work
  max-width: $table-width;
  margin: 0 auto;
  font-size: 1.4rem;

  &__heading {
    color: $color-primary-red;
    text-align: center;
  }

  &__nav {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &--button a:link,
    &--button a:visited {
      text-decoration: none;
      color: $color-black;
      display: inline-block;
      height: 2.8rem;
      width: 16.1rem;
    }

    &--button {
      background-color: $color-grey;

      &__active {
        background-color: $color-primary-green;
      }
    }
  }

  &__head {
    display: inline-block;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/background_images/table-head-backgroung-img.png);

    padding: 0 2.2rem;

    height: 6.8rem;
    margin-top: 0.5rem;

    color: $color-white;

    &--name {
      width: 22.32rem;
      margin-right: 0.5rem;
    }
  }

  .name {
    width: 28rem;
  }

  .ngo-or-nhri {
    width: 10rem;
  }

  &--rows--box {
    height: 45rem;
    overflow: scroll;
  }

  &__rows {
    position: relative;
    display: inline-block;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2.2rem;

    // if this is changed, must change the height of the below anchor element to be same to make the popup work
    height: $row-height;
    background-color: $table-background-color;

    margin-bottom: 0.5rem;

    &:nth-child(even) {
      background-color: rgba($color: $table-background-color, $alpha: 0.5);
    }
    &--row {
      width: 22.32rem;
      // margin-right: 0.5rem;

      //   trancate text
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.more-info-popup {
  @include middle;

  padding: 2rem 2rem 0rem 3rem;

  height: 62rem;
  width: 50rem;

  background-color: $color-white;
  border: 5px solid rgba($color: $color-primary-green, $alpha: 0.5);

  overflow: scroll;

  z-index: 1;

  &-btn {
    width: 2.4rem;

    position: absolute;
    right: 1rem;
    top: 3px;
  }
}
