.main {
  &--welcome-text {
    text-transform: uppercase;
    color: $color-white;
    margin-left: 4.3rem;
  }

  &--report-routes {
    margin-top: 22.5rem;
    max-width: 48.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 4.3rem;
  }

  &--route:link,
  &--route:visited {
    color: $color-primary-orange;
    padding: 1.6rem 1.8rem;

    background-color: $color-grey;
  }
}
